footer {
    background-color: #a12fb1;
    @include cmn_pdding(9rem 0 0, 0);
    border-top: 4px solid #bf7cc7;

    .ftr_otr {
        @include flex_btwn_algn_center;
        align-items: baseline;

        .ftr_inr {
            width: 15%;

            &:first-child {
                width: 40%;
            }

            .social_icons {
                margin-top: 3rem;
                display: none;


                ul {
                    display: flex;
                    gap: 2rem;

                    a {
                        font-size: 1.6rem;
                        width: 3.5rem;
                        height: 3.5rem;
                        background-color: #ffffff;
                        border-radius: 3rem;
                        color: #7e0f81;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 2px solid #ffffff;
                        @include transition;

                        &:hover {
                            color: $color_Wht;
                            background-color: transparent;
                            rotate: 360deg;
                            border: 2px solid #ffffff;
                        }
                    }
                }
            }

            h4 {
                padding-bottom: 2rem;
            }

            li {
                margin-bottom: 1.5rem;

                &:last-child {
                    margin-bottom: 0;
                }

                a {
                    color: $color_Wht;
                }
            }
        }
    }

    .cpyrght {
        font-size: 2.5rem;
        @include cmn_margin(10rem, 0, 0, 0);
        text-align: center;
        padding: 2rem 0;
        background-color: #5d117f;

        a {
            font-size: 2.5rem;
            color: $color_Wht;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#btn-back-to-top {
    width: 4rem;
    height: 4rem;
    background-color: $color_Wht;
    @include flex_btwn_algn_center;
    justify-content: center;
    border: none;
    outline: none;
    border-radius: 50px;
    position: fixed;
    right: 2.5rem;
    bottom: 2.5rem;
    @include transition;
    cursor: pointer;
    z-index: 5555;
    @include transition;
    border: 1px solid $bg_1;

    svg {
        color: $bg_1;
        font-size: 1.8rem;
    }

    &:hover {
        background: $bg_1;
        border: 1px solid $color_Wht;
    }

    &:hover svg {
        color: $color_Wht;
        transform: rotate(360deg);
        display: inline-block;
    }



}